$cbs-navbar-bg-color: #085366;
$cbs-navbar-brand-color: #21c3ec;
$cbs-navbar-brand-hover-color: #58ddff;
$cbs-navbar-nav-a-color: #61adc0;
$cbs-navbar-nav-hover-bg-color: #61adc0;
$cbs-navbar-nav-hover-a-color: #085366;

/* style1 */
$style1-cbs-navbar-bg-color: #8e44ad;
$style1-cbs-navbar-brand-color: #db85fe;
$style1-cbs-navbar-brand-hover-color: #d200ff;
$style1-cbs-navbar-nav-a-color: #db85fe;
$style1-cbs-navbar-nav-hover-bg-color: #db85fe;
$style1-cbs-navbar-nav-hover-a-color: #8e44ad;

/* style2 */
$style2-cbs-navbar-bg-color: #96281B;
$style2-cbs-navbar-brand-color: #EF4836;
$style2-cbs-navbar-brand-hover-color: #F22613;
$style2-cbs-navbar-nav-a-color: #F22613;
$style2-cbs-navbar-nav-hover-bg-color: #F22613;
$style2-cbs-navbar-nav-hover-a-color: #fff;
